<mat-sidenav-container class="example-sidenav-fab-container">

  <mat-sidenav #sidenav mode="over" class="app-sidenav" opened="false">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-toolbar #header id="header" class="header" color="primary">
    <mat-toolbar-row>
      <i (click)="sidenav.toggle()" class="material-icons app-toolbar-menu clickable">menu</i>
      <span>Travel client</span>
      <span class="example-fill-remaining-space"></span>
    </mat-toolbar-row>

  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
